.wrapper {
  padding-top: 50px;
  background: lightblue;
  height: 100%;

 
  padding: 20px;
  /* justify-content: space-around;  */
  /* flex-flow: row wrap; */
  /* align-content: flex-start; */
  /* overflow: auto; */
  /* justify-content: space-around; */
  margin:auto;
  min-height:calc(100vh);
  overflow-x:hidden;
  max-width: 100%;
  /* display: flex; */
}
